* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --iris: #4D5AE5;
  --ocean: #404BBF;
  --navyblue: #2E2F42;
  --slate: #434455;
  --green: #31D0AA;
  --lightslate: #8E8F99;
  --cornflower: #E7E9FC;
  --cloud: #F4F4FD;
  --navybluemodal: #2E2F42;
  --grey: #2E2F42;
  --white: #FFFFFF;
  --dairly: #FCFCFC;
}

.header-logo-text {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  color: var(--navyblue, #2e2f42);
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 21px; /* 116.667% */
  letter-spacing: 0.54px;
  text-transform: uppercase;
}
.header-logo-text span {
  color: var(--iris, #4d5ae5);
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 21px; /* 116.667% */
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.address-list-item {
  text-decoration: none;
  color: var(--slate, #434455);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
}

.nav-list {
  text-decoration: none;
  color: var(--slate, #434455);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
.nav-item {
  text-decoration: none;
  color: var(--navyblue, #2E2F42);
  font-family: "Roboto" ,sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
}

ul {
  list-style-type: none;
}

.nav-item {
  font-family: "Roboto" sans-serif;
}

.section-hero {
  background-color: #2e2f42;
}

.hero-title {
  color: var(--white, #FFF);
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px; /* 107.143% */
  letter-spacing: 1.12px;
  
}

.hero-button {
  color: var(--white);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;
  border-radius: 4px;
  background: var(--iris, #4d5ae5);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  outline: none;
  border: unset;
  padding: 16px 32px;

}

.feature-title {
  color: var(--navyblue, #2E2F42);
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 120% */
  letter-spacing: 0.4px;
}

.feature-text {
  color: var(--slate, #434455);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
}

.about-title {
  color: var(--navyblue, #2E2F42);
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 111.111% */
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

.team-title {
  color: var(--navyblue, #2E2F42);
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 111.111% */
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

.team-name {
  color: var(--navyblue, #2E2F42);
  text-align: center;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 120% */
  letter-spacing: 0.4px;
}

.team-position {
  color: var(--slate, #434455);
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
}


.section-team {
  background: var(--cloud, #F4F4FD);
}

.section-footer {
  background: var(--navyblue, #2E2F42);
}

.footer-logo-title {
  text-decoration: none;
  color: var(--cloud, #f4f4fd);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 21px; /* 116.667% */
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.footer-logo-title span {
  color: var(--iris, #4d5ae5);
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 21px; /* 116.667% */
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.footer-text {
  color: var(--cloud, #f4f4fd);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
}

/* Portfolio section*/

.portfolio-logo-text {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  color: var(--navyblue, #2e2f42);
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 21px; /* 116.667% */
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.portfolio-logo-text span {
  color: var(--iris, #4d5ae5);
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 21px; /* 116.667% */
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.portfolio-list-item {
  text-decoration: none;
  color: var(--navyblue, #2E2F42);
  font-family: "Roboto" sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
}

.portfolio-address-item {
  color: var(--slate, #434455);
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}

.portfolio-all-button {
  color: var(--white, #fff);
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.64px;
  display: block;
  margin-bottom: 5px;
  border-radius: 4px;
  background: var(--ocean, #404bbf);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.portfolio-button {
  display: block;
  margin-bottom: 5px;
  color: var(--iris, #4d5ae5);
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.64px;
  border-radius: 4px;
  border: 1px solid var(--cornflower, #e7e9fc);
  background: var(--cloud, #f4f4fd);
}

.portfolio-title {
  color: var(--navyblue, #2e2f42);
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 120% */
  letter-spacing: 0.4px;
}

.portfolio-text {
  color: var(--slate, #434455);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
}

.Portfolio-footer-logo-text {
  text-decoration: none;
  color: var(--cloud, #f4f4fd);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 21px; /* 116.667% */
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.Portfolio-footer-logo-text span {
  color: var(--iris, #4d5ae5);
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 21px; /* 116.667% */
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.portfolio-footer-text {
  color: var(--cloud, #f4f4fd);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
}

.section-portfolio-footer {
  background: var(--navyblue, #2E2F42);
}